@model docside_bookingview_2.ViewModels.UserWithCompanyName

@{
    ViewData["Title"] = "Detaljer";
    string classAvailable = "";
}

@if (Model.Active)
{
    classAvailable = "classAvailable fas fa-check-circle";
}
else
{
    classAvailable = "classNotAvailable fas fa-exclamation-circle";
}



<div class="row">
    <div class="col-10 offset-1 col-md-6 offset-md-3">
        <h4 class="pt-5 create-title">ANVÄNDARE DETALJER.</h4>
        <hr />

        <dl class="row">
            <dt class="col-md-3 col-5">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-md-9 col-6">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-md-3 col-5">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-md-9 col-6">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-md-3 col-5">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-md-9 col-6">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-md-3 col-5">
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>
            <dd class="col-md-9 col-6">
                @Html.DisplayFor(model => model.CompanyName)
            </dd>
            <dt class="col-md-3 col-5">
                @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
                Telefonnummer
            </dt>
            <dd class="col-md-9 col-6">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt class="col-md-3 col-5">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd class="col-md-9 col-6">
                @*@Html.DisplayFor(model => model.Available ? "Ja" : "Nej")*@
                @*@(Model.Available ? "Ja" : "Nej")*@
                <i class="@classAvailable"></i>
            </dd>

        </dl>

        <div class="form-group">
            <a asp-action="Index" class="btn btn-secondary">Tillbaka</a>
        </div>

    </div>
</div>

